
@media screen and (max-width: 360px) {
    .top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
		height: 0rem !important;
	}
	.contain-to-grid .top-bar {
		margin-bottom: 16px;
	}
	.section_02 {
		padding: 0 !important;
	}
	
	.section_title{
		margin-bottom:0 !important;
	}
	
	.section_tilte_large {
		font-size: 32px !important;
	}
}

@media screen and (min-width: 1920px) {

	footer{
	position:fixed;
	bottom:0;
	}
}